*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.logo {
background-image: url(amazon_logo.png);
height: 50px;
width: 100px;
background-size: cover;
}

.navbar-logo {
height: 50px;
width: 100px;

}

.border:hover {
border: 2px  solid white; height: 50px; 

}

.add-first {
color: #cccc;
font-size: 0.85rem;
margin-left: 12px;
}

.add-second {
    color: white;
    font-size: 1rem;
    margin-left: 3px;

    }

.addres-icon {
    display: flex;
    align-items: center;
    
}

.nav-search {
justify-content: space-evenly;
display: flex;
background-color: pink;
width: 620px;
height: 40px;
border-radius: 4px;

}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
width: 100%;
font-size: 1rem;
border: none;

}

.search-icon {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
background-color: #febd68;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
color: #0f1111;
}

span {
    font-size: 0.7rem;
} 

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-search :hover {
    border: 2px solid orange
}

.cart-icon i {
    font-size: 30px; 
}

.cart-icon {
    font-weight: 700;
    font-size: 0.85rem;
}

.pannel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.pannel-options p {
    display: inline;
    width: 70%;
    margin-left: 15px;
}

.pannel-options  {
    display: inline;
    width: 70%;
    font-size: 0.85rem;
}

.pannel-deals {
font-size: 0.9rem;
font-weight: 700;

}

.hero-section {
    background-image: url(hero_image.jpg);
    height: 600px;
    background-size: cover;

}
